body {background: linear-gradient(90deg,#900000, #000000);
height: 100%}

nav { display: flex;
  justify-content: space-evenly;
      background: red;
    font-family: barlow;}

a {
  color: white;
}
a:hover {
  color: #7E7E7E;
}

header {display: flex;
        justify-content: center;
        height: 6em;
        padding-bottom: 20px}

h2{ font-family: barlow;
    color: white;
    }

p {font-family: barlow;
  color: white;
  }
.formu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input{
  background-color: inherit;
  color: white;
  font-family: barlow;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-bottom: 2px solid red;
}
textarea{
  background-color: inherit;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-bottom: 2px solid red;
}
form{
 padding-top: 10px;
}
.tandas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tandas input{
    width: 10%;
}

}
.buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-family: barlow;
  color: white;
  margin: 10px;
  font-size: 20px;
  background-color: #900000;
  transition-duration: 0.4s;
}
button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: red;
}
